@import 'styles/main';

.myVRCanvas {
  height: 100%;
  width: 100%;
  display: block;
  // position: absolute;
  // left: 0px;
  // top: 0px;
  // zIndex: -1;
  cursor: crosshair;
  background-color: green;
  border: 3px solid lightgreen;
}
.bottomNavigation {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
