@import 'styles/main';

$top-margin: 6vh;

.container {
  @include pageContainer();
  @include applyThemes() {
    background-color: t('primary-1');
  }
  overflow-y: auto;

  &:before {
    content: '';
    width: 80vw;
    height: 80vw;
    position: fixed;
    top: $top-margin;
    left: 50%;
    transform: translateX(-50%);
    @include applyThemes() {
      background: radial-gradient(
        52.41% 52.41% at 46.68% 43.31%,
        t('primary-2') 79.69%,
        t('primary-6') 100%
      );
    }
    border-radius: 50%;
  }

  .grid {
    position: relative;

    .logoLeica {
      margin-top: $top-margin * 1.5;
      max-width: 92px;
      @include big-tablet {
        margin-top: $top-margin * 1.8;
      }
    }

    .pegasus {
      margin-top: 16px;
      font-size: 2.2rem;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 1.6rem;
      margin-right: -1.6rem;
      text-align: center;

      @include applyThemes() {
        color: t('primary-11');
      }

      @include big-tablet {
        margin-top: 28px;
      }
    }

    .version {
      @include testi('Caption');
      @include applyThemes() {
        color: t('primary-11');
      }
      font-size: 1rem;
      position: fixed;
      top: 12px;
      right: 24px;
      text-align: right;
    }

    .video {
      position: fixed;
      bottom: 48px;
      right: 24px;
    }
  }
}
