@import 'styles/main';

.container {
  box-shadow: 0px 50px 80px 2px rgba(0, 0, 0, 0.15);
  @include blurBg();
  width: 360px;
  border-radius: 10px;

  padding-top: 42px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 21px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &.noWrap {
    min-width: 360px;
    width: fit-content;
  }

  &.variantGrey {
    .closeButton {
      svg {
        fill: map-deep-get($themes, 'dark', 'primary-1');
        background-color: map-deep-get($themes, 'dark', 'primary-11');
      }
    }
    .icon {
      svg {
        width: 42px;
        height: 42px;
        fill: map-deep-get($themes, 'dark', 'primary-11');
      }
      margin-bottom: 16px;
    }
    background-color: rgba(map-deep-get($themes, 'light', 'primary-14'), 0.75);
    .text,
    a {
      color: map-deep-get($themes, 'dark', 'primary-11');
    }
  }
  &.variantColored {
    .icon {
      svg {
        width: auto;
        height: 106px;
      }
      margin-top: -46px;
      margin-bottom: -16px;
    }
    &.typeError {
      background-color: rgba(
        map-deep-get($themes, 'light', 'secondary-6'),
        0.75
      );
      .closeButton {
        svg {
          fill: map-deep-get($themes, 'dark', 'primary-1');
          background-color: map-deep-get($themes, 'dark', 'primary-11');
        }
      }
      .text,
      .title,
      a {
        color: map-deep-get($themes, 'dark', 'primary-11');
      }
    }
    &.typeWarning {
      background-color: rgba(
        map-deep-get($themes, 'light', 'secondary-10'),
        0.75
      );
      .closeButton {
        svg {
          fill: map-deep-get($themes, 'dark', 'primary-11');
          background-color: map-deep-get($themes, 'dark', 'primary-1');
        }
      }
      .text,
      .title,
      a {
        color: map-deep-get($themes, 'dark', 'primary-1');
      }
    }
    &.typeMessage {
      background-color: rgba(
        map-deep-get($themes, 'light', 'primary-14'),
        0.75
      );
      .text,
      .title {
        color: map-deep-get($themes, 'dark', 'primary-11');
      }
      .closeButton {
        svg {
          fill: map-deep-get($themes, 'dark', 'primary-1');
          background-color: map-deep-get($themes, 'dark', 'primary-11');
        }
      }
    }
  }
  &Alert {
  }
  &Confirm {
    .button {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      button {
        &:nth-child(2) {
          margin-left: 8px;
        }
      }
    }
  }
}
.title {
  @include testi('Heading5');
  @include testi('Bold');
  font-size: 1.8rem;
  color: map-deep-get($themes, 'dark', 'primary-11');
  width: 318px;
}
.text {
  margin-top: 12px;
  @include testi('Caption');
  line-height: 1.4em;
  color: map-deep-get($themes, 'dark', 'primary-11');
  width: 318px;
}
.button {
  margin-top: 24px;

  &.noWrap {
    white-space: nowrap;
    width: fit-content;
    align-self: flex-end;
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  svg {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 16px;
  }
}
