@import 'styles/main';

.sidePanelSettings {
  @include testi('Body1');
}

.navigationBar {
  font-weight: 300;
  padding: 0 9px;
  @include applyThemes() {
    text-decoration-color: t(secondary-5);
  }

  margin-bottom: 25px;

  .tabsContainer {
    display: flex;
    // justify-content: space-between;
    gap: 18px;
  }

  .tab {
    list-style: none;
    @include applyThemes() {
      border-bottom: 2px solid transparent;
    }
    cursor: pointer;

    &Selected {
      @include applyThemes() {
        border-bottom: 2px solid t(secondary-5);
      }
      font-weight: 400;
    }
  }
}

.fieldsContainer {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  width: 100%;
}

.sliderField {
  &:not(:last-child) {
    margin-bottom: -5px;
  }

  p {
    margin-left: 2px;
    // margin-bottom: -8px;
  }
}

.exposureField {
  p {
    margin-bottom: 4px;
  }

  &BtnGroup {
    width: 100%;
    @include flexAlign(center, space-between);

    > button {
      flex: 1 1 0;
      height: 30px;
      @include applyThemes() {
        color: map-deep-get($themes, 'dark', 'primary-11');
        background-color: map-deep-get($themes, 'dark', 'primary-3');
      }

      &:first-child {
        border-radius: 8px 0 0 8px;
      }

      &:last-child {
        border-radius: 0 8px 8px 0;
      }
    }
  }

  &Value {
    height: 30px;
    text-align: center;
    padding: 0 12px;

    @include applyThemes() {
      color: map-deep-get($themes, 'dark', 'primary-1');
      background-color: map-deep-get($themes, 'dark', 'primary-11');
    }
  }
}

.switchField {
  &:not(:last-child) {
    margin-bottom: 11px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.betaFeature {
  @include applyThemes() {
    border: 1px solid t(secondary-6);
  }
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.volumeButton {
  background-color: transparent;
  border: 0;
  display: flex;
  gap: 19px;
  align-items: center;

  // svg
  .icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    // to color svg's <path> etc.
    & path {
      @include applyThemes() {
        fill: t(primary-11);
      }
    }
  }

  // mute label
  .text {
    @include testi('Body1');

    &Visible {
      @include applyThemes() {
        color: t(primary-11);
      }
    }

    &Invisible {
      color: transparent;
    }
  }
}

.content {
  @include noSelectText();
  .item {
    min-width: 0;
    @include ellipsis;
  }
}

.tabPanel {
  @include testi('Body1');
  width: 100%;
}

.form {
  padding: 0 10px;
}

@media screen and (max-width: 1400px) and (max-height: 640px) {
  .tabPanel {
    height: 236px;
  }
}
