@import 'styles/main';

.container {
  height: 100%;

  .error,
  .spinner {
    @include flexAlign();
    flex-direction: column;
    height: 100%;
  }

  @include testi('Caption');
  line-height: 3em;
  @include applyThemes() {
    color: t(primary-11);
    background-color: rgba(t(primary-10), 0.9);
  }

  .error {
    &Text {
      padding: 12px;
      text-align: center;
      line-height: 20px;
    }
    &Icon {
      height: 80px;
      svg {
        height: 100px;
      }
    }
    .buttonsContainer {
      margin-top: 20px;
      display: flex;
      gap: 13px;
    }
  }
}
