@import 'styles/main';

.container {
  padding: 0px 10px 10px 12px;
  margin-top: 4px;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 1.4em;
  line-height: 1.4em;

  @include applyThemes() {
    color: t('primary-11');
    background-color: t('primary-4');
  }

  // @include big-tablet {
  //   padding: 12px;
  // }
}
.sliderField {
  &:first-child {
    margin-bottom: 10px;
  }
  @include testi('ButtonLabel');
  & + & {
    margin-top: 0;
  }
  @include big-tablet {
    & + & {
      margin-top: 0;
      // margin-top: 6px;
    }
  }
}
