// to center an element horizontally and vertically inside of its parent/container
// REMEMBER to set position: relative to its parent!
// N.B.: works also when parent is with position: absolute
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pageContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

/**
* It must be applied to a container with exactly 3 child divs: header, scrollable and footer
* They don't need to have particular classes
*/
@mixin scrollableDialogContainer {
  position: relative;
  overflow: hidden;
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > * {
    &:nth-child(1),
    &:nth-child(3) {
      flex-shrink: 0;
    }

    &:nth-child(2) {
      flex-grow: 1;
      overflow: auto;
      min-height: 2em;

      @include customScrollbar();
    }
  }
}

/**
* customized scrollbar
*/
@mixin customScrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    @include applyThemes {
      background-color: t(primary-3);
    }

    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    @include applyThemes {
      background-color: t(primary-7);
    }

    border-radius: 10px;
  }
}

/**
* FlexBox mixin for alignement
*/

@mixin flexAlign($alignItems: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

/**
* blurred background
*/

@mixin blurBg($amount: 10px) {
  backdrop-filter: blur($amount);
  -webkit-backdrop-filter: blur($amount);
}

/**
* Truncate text with ellipsis
* The element should have a declared width  
*/

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/**
* Center X axis
*/

@mixin centerX {
  left: 50%;
  transform: translateX(-50%);
}

/**
* applies hover only on supported devices
*/
@mixin on-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

/**
* Text elements that should be not selectable
*/
@mixin noSelectText {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
* SVG: Returns the desired path dimension
* the icon is 32x32 and the maximum width or height is 24 accordingly
* the $dimension should be the biggest one, depending on the icon
*/
@mixin pathDimension($dimension) {
  width: $dimension * (32 / 24);
  height: $dimension * (32 / 24);
}
