@import 'styles/main';

.container {
  @include applyThemes() {
    color: t(primary-11);
    @include testi('Caption');
    @include testi('Bold');
    font-size: 1rem;
    line-height: 1.8rem;
  }
  padding: 0px 8px;
  a {
    color: inherit;
    margin: 0px 8px;
    text-decoration: none;
    pointer-events: all;
  }
  span {
  }
}
