@import 'styles/main';

.container {
  @include pageContainer();
  @include applyThemes() {
    background-color: t(primary-1);
    border-top: 3px solid t(secondary-5);
  }
  display: flex;
  flex-direction: column;
  // padding: 5px;
}
