@import 'styles/main';

.container {
  box-shadow: 0px 50px 80px 2px rgba(0, 0, 0, 0.15);
  @include blurBg();
  width: 440px;
  //max-height: 376px;
  border-radius: 10px;
  padding: 8px 16px;
  overflow: hidden;
  @include flexAlign(flex-start, center);
  flex-direction: column;
  @include applyThemes() {
    color: t('primary-11');
    background-color: rgba(t('primary-19'), 0.75);
  }
}

.footer {
  padding-top: 16px;
  @include flexAlign(flex-end, flex-end);
  align-self: flex-end;
}

.buttonsContainer {
  @include flexAlign();
  gap: 15px;
}

.header {
  svg {
    @include pathDimension(30px);
    @include applyThemes() {
      path {
        fill: t('primary-11');
      }
    }
  }
  .title {
    padding-left: 4px;
    @include testi('Heading5');
    font-weight: 900;
    @include applyThemes() {
      color: t('primary-11');
    }
  }
  .subtitle {
    padding-left: 4px;
    @include testi('Body1');
    @include applyThemes() {
      color: t('primary-11');
    }
  }
}

.csys {
  width: 100%;
  margin-top: 8px;
  @include testi('Body1');
  @include applyThemes() {
    border: 2px solid t(primary-4);
  }
  border-radius: 6px;

  &Header {
    padding: 3px 10px;
    @include applyThemes() {
      background-color: t(primary-4);
      color: t(primary-11);
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
  bottom: 0;
  padding: 8px 16px;
  overflow: hidden; /* @include flexAlign();
  flex-direction: column; */
  @include testi('Caption');
  line-height: 3em;
  @include applyThemes() {
    color: t(primary-11);
    background-color: rgba(t(primary-10), 0.95);
  }

  .title {
    text-align: center;
    @include testi('Body1');
  }

  .buttonsContainer {
    width: 100%;
    margin-top: 20px;
    @include flexAlign(flex-start, flex-end);
    gap: 13px;
  }

  .wktContainer {
    height: calc(100% - 100px);
    width: 100%;
    padding: 8px 16px;
    border-radius: 6px;
    overflow-y: scroll;
    @include customScrollbar();
    @include testi('Body1');
    color: map-deep-get($themes, 'dark', 'primary-11');
    background-color: map-deep-get($themes, 'dark', 'primary-3');
  }
}
